body {
    margin: 0px;
    width: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

img{
    border: 0px;
}

h1 {
	font-size: 11px;
	vertical-align: middle;
	text-align: left;
	margin-left: 50px;
	margin-top: 50px;
}

h2 {
	font-size: 11px;
	vertical-align: middle;
	text-align: left;
	margin-left: 50px;
	margin-top: 20px;
}

#loginContainer{
    width: 424px;
    height: 475px;
    margin-left: auto;
    margin-right: auto;
    border-color: #B6B6B6;
    border-width: 1px;
    border-style: solid;
}

#headerBar{
    width: 100%;
    height: 30px;
    background-image: url('../images/headerBg.png');
    background-repeat: repeat-x;
}

#leftRivet{
    display: inline-block;
}

#headerTitle{
    width: 424px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 35px;
}

#rightRivet{
    float: right;
}


#line{
    margin-left: 50px;
	margin-right: 50px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b6b6b6;
}

#footer{
    text-align: center;
}
